
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="firstName" value="Roscoe"/>
      <add key="lastName" value="Wallace"/>
      <add key="gender" value="Female"/>
      <add key="yearsDrinking" value="6"/>
      <add key="dateStopped" value="June 2, 1938"/>
      <add key="topic" value="Wait Commands"/>
      <add key="continent" value="North America"/>
    </appSettings>
</configuration>
